html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

:root {
  --colorscheme-background-bright: 68, 114, 175;
  --colorscheme-background-medium: 67, 94, 130;
  --colorscheme-background-dark: 29, 55, 89;
  --colorscheme-item-active-bright: 245, 245, 245;
  --colorscheme-item-active-medium: 48, 227, 202;
  --colorscheme-card-black: 38, 8, 8;
  --colorscheme-card-red: 217, 4, 22;
  --colorscheme-warn: 217, 83, 94;
  --color-font-bright: var(--colorscheme-item-active-bright);
  --color-font-dark: var(--colorscheme-background-dark);
  --color-border-bright: var(--colorscheme-background-bright);
  --color-border-dark: var(--colorscheme-background-dark)
}